body {
    margin: 0;
    padding: 0;
  }

  /* mapbox selectors */
  #map {
    position: absolute;
    top: 0px;
    bottom: 0;
    width: 100%;
  }
  .mapboxgl-popup-content {
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
    align-self: center;
    text-align: center;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* info pane */
  #infobar {
    height: 100%;
    width: 375px;
    margin: 0;
    z-index: 1;
    position: relative;
    overflow: hidden;
  }
  .title {
    font-family: 'Suez One', Arial, sans-serif;
    color: #66023C;
    font-size: 45px;
    width: 375px;
    overflow: hidden;
  }
  .anchor {
    padding-left: 6px;
  }
  .water {
    width: 100%;
    padding-top: 75px;
    translate: 0px;
    animation: animate 35s linear infinite;
  }
  .water-2 {
    width: 100%;
    padding-top: 75px;
    translate: -374px;
    animation: animate 35s linear infinite;
  }

  @keyframes animate {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }


  #content-box {
    font-family: 'Open Sans';
    padding-bottom: 0px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 120px;
  }
  .name-text {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
    gap: 10px;
    inline-size: 288px; 
  }
  .name {
    overflow-wrap: break-word;
    flex-grow: 1;
  }


  .comment-box {
    font-family: 'Open Sans';
    padding-top: 0px;
    padding-right: 24px;
    padding-left: 24px;
    overflow-y: scroll;
    height: calc(100% - 558px);
    width: 325px;
    bottom: 0;
  }
  .comment-box-start {
    font-family: 'Open Sans';
    padding-top: 0px;
    padding-right: 24px;
    padding-left: 24px;
    overflow-y: scroll;
    height: calc(100% - 438px);
    width: 325px;
    bottom: 0;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ddddddc7;
  }


  #sources {
    font-family: 'Open Sans';
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 0px;
    padding-left: 15px;
    color: #c0c0c0;
    font-size: small;
    bottom: 0;
  }
  a:visited {
    color: #c0c0c0 !important;
  }
  a:active {
    color: #727272 !important;
  }
  a {
    color: #c0c0c0 !important;
    text-decoration-color: #c0c0c0 !important;
  }
  a:hover {
    color: #727272 !important;
    text-decoration-color: #727272 !important;
  }

  /* helper classes*/
  .unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
